@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Palanquin:wght@100;200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Palanquin:wght@100;200;300;400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
.td{
  transition: 0.5s ease;
  /* color: #ff533f; */
}


/* Scrollbar */
::-webkit-scrollbar {
  width: 5px;
}

/* Track with padding using insets */
::-webkit-scrollbar-track {
  background: transparent;
  margin-top: 2rem;  /* Add padding-like effect on top */
  margin-bottom: 2rem;  /* Add padding-like effect on bottom */
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #AA0000;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #CC0000;
}


@layer components {
  .max-container {
    max-width: 1440px;
    margin: 0 auto;
    
  }

  .input {
    @apply sm:flex-1 max-sm:w-full text-base leading-normal text-slate-gray pl-5 max-sm:p-5 outline-none sm:border-none border max-sm:border-slate-gray max-sm:rounded-full;
  }
}

@layer utilities {
  .padding {
    @apply sm:px-16 px-8 sm:py-24 py-12;
  }

  .padding-a {
    @apply sm:px-32 px-2;
  }

  .padding-x {
    @apply sm:px-16 px-8;
  }

  .padding-y {
    @apply sm:py-16 py-8;
  }

  .padding-l {
    @apply sm:pl-16 pl-8;
  }

  .padding-r {
    @apply sm:pr-16 pr-8;
  }

  .padding-t {
    @apply sm:pt-16 pt-8;
  }

  .padding-b {
    @apply sm:pb-16 pb-8;
  }

  .info-text {
    @apply font-montserrat text-slate-gray text-lg leading-7;
  }
}